{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Quiz</title>
    <link rel="stylesheet" href="{% static 'flashlearn/adminstyle.css' %}">
    <!-- Link to Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Londrina+Solid:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="{% url 'home' %}" class="navbar-logo-link">
            <img src="{% static 'flashlearn/logotype.png' %}" alt="Flash Learn Logo" class="navbar-logo">
        </a>
        <div class="navbar-menu">
            <ul>
                <li>
                    <a id="manage-content">Manage Content</a>
                    <div class="dropdown-content" id="content-dropdown">
                        <a href="{% url 'managequiz' %}">Quizzes</a>
                        <a href="{% url 'managecharacters' %}">Characters</a>
                        <a href="{% url 'managecards' %}">Cards</a>
                    </div>
                </li>
                <li>
                    <a id="manage-accounts">Manage Accounts</a>
                    <div class="dropdown-content" id="accounts-dropdown">
                        <a href="{% url 'managestudents' %}">Students</a>
                        <a href="{% url 'manageteachers' %}">Teachers</a>
                        <a href="{% url 'manageadmins' %}">Admins</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="managequiz-bg">
        <div class="mng-box">
            <div id="manage-label">Manage Content: Quizzes</div>
            <div class="panel-box">
                <div class="field-name">
                    <div class="field-name-text">ID</div>
                    <div class="field-name-text">Assigned Character</div>
                    <div class="field-name-text">Question</div>
                    <div class="field-name-text">Answer</div>
                    <div class="field-name-text">Action</div>
                </div>

                <!-- Django template tags for dynamic table rows (use later)
                
                {% for item in quiz_data %}
                <div class="table-row">
                    <div>{{ item.id }}</div>
                    <div>{{ item.assigned_teacher }}</div>
                    <div>{{ item.question }}</div>
                    <div>{{ item.answer }}</div>
                    <div>Edit/Delete</div>
                </div>
                {% endfor %} -->
            </div>
        </div>
    </div>
</body>
</html>
